@CHARSET "UTF-8";

img{
	width: 100%;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.social {
	position: fixed;
	/* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la derecha */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000;
	/* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block; /*para poder editar*/
	color: #fff;
	background: #c5c1a9;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	/* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {background:#7a8eeb;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-instagram {background: #ceadd6;}
	.social ul li .icon-youtube {background: #e76969;}
	.social ul li .icon-earth {background: #6cd286;}

.social ul li a:hover {
	background: #000;
	/* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px;
	/* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}